* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

//CSS TIL LOGO I HEADER
.headerLogo{
  position: absolute;
  top: 10px;
  left: 20px;
  img{
    height: 76px;
  }
}
//CSS TIL OVERLAY MENU - FØGLER HTML DOM
.overlayMenu {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  // STYLER LUKKE KNAP
  .overlayClose {
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 36px;
    color: #818181;
    cursor: pointer;
    &:hover{
      color: #f1f1f1;
    }
  }
  //STYLER LOGO I OVERLAY MENU
  .overlayLogo{
    position: relative;
    top:20%;
    display: flex;
    .overlayLogoImg{
      width: 60%;
      height: auto;
      margin: auto;
      display: flex;
    }
  }
  //STYLER SELVE MENUPUNKTER I OVERLAY
  .overlayContent {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  //STYLER ALLE LINKS I OVERLAY
  a {
    padding: 8px;
    text-decoration: none;
    font-size: 28px;
    color: #818181;
    display: block;
    transition: 0.3s;
    &:hover{
      color: #f1f1f1
    }
  }
  //STYLER SOCAIL IKONER I OVERLAY MENU
  .overlaySocial{
    font-size: 2rem;
    color: #818181;
    position: absolute;
    bottom: 100px;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);
    &:hover{
      color: #f1f1f1;
    }
  }
}
//STYLER MENU IKON
.overlayOpen{
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 36px;
  cursor: pointer;
}
.sec1 {
  display: inline-flex;
  justify-content: center;
}
.sec2 {
  display: inline-flex;
  justify-content: center;
}
.sec3 {
  display: inline-flex;
  justify-content: center;
}
.sec4 {
  display: inline-flex;
  justify-content: center;
}
.sec5 {
  display: inline-flex;
  justify-content: center;
}






@media screen and (min-width: 750px) {

  //STYLER MENU PÅ PC
  .overlayMenu{
    // STYLER LOGO PÅ PC
    .headerLogo{
      left: 50px;
      img{
        height: 130px;
      }
    }
    // STYLER LUKKE KNAP PÅ PC
    .overlayClose{
      right: 50px;
    }
    // STYLER OVERLAY LOGO PÅ PC
    .overlayLogo{
      top: 10%!important;
      .overlayLogoImg{
        width: 25%!important;
      }
    }
    //STYLER OVERLAY MENUPUNTKER PÅ PC
    .overlayContent{
      top: 15%!important;
    }
    a{
      font-size: 36px;
    }
  }
  //STYLER BURGERMENU IKON PÅ PC
  .overlayOpen{
    right: 50px;
  }


  .box {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-areas: ". gsecEt gsecEt"
                          ". gsecEt gsecEt"
                          ". gsecTo gsecTre"
                          ". gsecFire gsecFem";

    .sec1 {
      grid-area: gsecEt;
    }
    .sec2 {
      grid-area: gsecTo;
    }
    .sec3 {
      grid-area: gsecTre;
    }
    .sec4 {
      grid-area: gsecFire;
    }
    .sec5 {
      grid-area: gsecFem;
    }
  }
}
