* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  background-image: url(../images/IMG_5670.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

header {
  height: 10vh; }

.box {
  height: 90vh;
  padding: 10px; }

.sec1, .sec2, .sec3, .sec4, .sec5 {
  width: 100%; }

button {
  border: transparent;
  background-color: purple;
  width: 100%;
  height: 50px;
  margin-top: 10px; }
  button a {
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white; }
  button:hover {
    background-color: crimson;
    transition: .5s; }

.tied-video {
  width: 90%;
  height: 90%; }

.headerLogo {
  position: absolute;
  top: 10px;
  left: 20px; }
  .headerLogo img {
    height: 76px; }

.overlayMenu {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden; }
  .overlayMenu .overlayClose {
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 36px;
    color: #818181;
    cursor: pointer; }
    .overlayMenu .overlayClose:hover {
      color: #f1f1f1; }
  .overlayMenu .overlayLogo {
    position: relative;
    top: 15%;
    display: flex; }
    .overlayMenu .overlayLogo .overlayLogoImg {
      width: 60%;
      height: auto;
      margin: auto;
      display: flex; }
  .overlayMenu .overlayContent {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column; }
  .overlayMenu a {
    padding: 8px;
    text-decoration: none;
    font-size: 28px;
    color: #818181;
    display: block;
    transition: 0.3s; }
    .overlayMenu a:hover {
      color: #f1f1f1; }
  .overlayMenu .overlaySocial {
    font-size: 2rem;
    color: #818181;
    display: flex;
    justify-content: center; }
    .overlayMenu .overlaySocial:hover {
      color: #f1f1f1; }

.overlayOpen {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 36px;
  cursor: pointer;
  color: #818181; }
  .overlayOpen:hover {
    color: #f1f1f1; }

.sec1 {
  display: inline-flex;
  justify-content: center; }

.sec2 {
  display: inline-flex;
  justify-content: center; }

.sec3 {
  display: inline-flex;
  justify-content: center; }

.sec4 {
  display: inline-flex;
  justify-content: center; }

.sec5 {
  display: inline-flex;
  justify-content: center; }

@media screen and (min-width: 800px) {
  .overlayMenu .headerLogo {
    left: 50px; }
    .overlayMenu .headerLogo img {
      height: 130px; }
  .overlayMenu .overlayClose {
    right: 50px; }
  .overlayMenu .overlayLogo {
    top: 10% !important; }
    .overlayMenu .overlayLogo .overlayLogoImg {
      width: 25% !important; }
  .overlayMenu .overlayContent {
    top: 10% !important; }
  .overlayMenu a {
    font-size: 36px; }

  .overlayOpen {
    right: 50px; }

  .box {
    display: grid;
    grid-template-columns: 55% 20% 20%;
    grid-column-gap: 1%;
    grid-template-rows: 80px 200px 200px 60px 50px;
    grid-template-areas: ". . ." ". gsecEt gsecEt" ". gsecEt gsecEt" ". gsecTo gsecTre" ". gsecFire gsecFem"; }
    .box .sec1 {
      grid-area: gsecEt; }
    .box .sec2 {
      grid-area: gsecTo; }
    .box .sec3 {
      grid-area: gsecTre; }
    .box .sec4 {
      grid-area: gsecFire; }
    .box .sec5 {
      grid-area: gsecFem; } }

/*# sourceMappingURL=styles.css.map */
