* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

.bodyIndex {
  background-image: url(../images/IMG_5670-2.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

main .box {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%); }
  main .box .sec1 {
    width: 95%;
    margin: auto;
    display: flex; }
    main .box .sec1 .tied-video {
      width: 95%;
      height: 100%; }
  main .box .listenButtons {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: auto; }
    main .box .listenButtons .listenBut {
      border: none;
      background-color: purple;
      width: 48%;
      height: 35px;
      margin-top: 8px;
      cursor: pointer; }
      main .box .listenButtons .listenBut a {
        font-size: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white; }
      main .box .listenButtons .listenBut:hover {
        background-color: crimson;
        transition: .5s; }
    main .box .listenButtons .marginBut {
      margin-right: 4%; }
.bodyAbout {
  background-image: url(../images/IMG_5659.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.myStory {
  font-family: Audiowide, sans-serif;
  font-size: 28pt;
  color: crimson;
  display: flex;
  justify-content: center; }

.aboutText {
  font-family: "Crimson Text", sans-serif;
  font-size: 14pt;
  color: #bc1825;
  display: flex;
  justify-content: center; }

.boxAbout {
  display: block;
  justify-content: center;
  margin-top: 240px; }


.headerLogo {
  position: absolute;
  top: 10px;
  left: 20px; }
  .headerLogo img {
    height: 60px; }

.overlayMenu {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden; }
  .overlayMenu .overlayClose {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 36px;
    color: #818181;
    cursor: pointer; }
    .overlayMenu .overlayClose:hover {
      color: #f1f1f1; }
  .overlayMenu .overlayLogo {
    position: relative;
    top: 15%;
    display: flex; }
    .overlayMenu .overlayLogo .overlayLogoImg {
      width: 60%;
      height: auto;
      margin: auto;
      display: flex; }
  .overlayMenu .overlayContent {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column; }
  .overlayMenu a {
    padding: 8px;
    text-decoration: none;
    font-size: 28px;
    color: #818181;
    display: block;
    transition: 0.3s; }
    .overlayMenu a:hover {
      color: #f1f1f1; }
  .overlayMenu .overlaySocial {
    font-size: 2rem;
    color: #818181;
    display: flex;
    justify-content: center; }
    .overlayMenu .overlaySocial:hover {
      color: #f1f1f1; }

.overlayOpen {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 36px;
  cursor: pointer;
  color: #818181; }
  .overlayOpen:hover {
    color: #f1f1f1; }

.sec1 {
  display: inline-flex;
  justify-content: center; }

.sec2 {
  display: inline-flex;
  justify-content: center; }

.sec3 {
  display: inline-flex;
  justify-content: center; }

.sec4 {
  display: inline-flex;
  justify-content: center; }

.sec5 {
  display: inline-flex;
  justify-content: center; }

@media screen and (min-width: 800px) {
  .overlayMenu .headerLogo {
    left: 50px; }
    .overlayMenu .headerLogo img {
      height: 130px; }
  .overlayMenu .overlayClose {
    right: 50px; }
  .overlayMenu .overlayLogo {
    top: 10% !important; }
    .overlayMenu .overlayLogo .overlayLogoImg {
      width: 25% !important; }
  .overlayMenu .overlayContent {
    top: 10% !important; }
  .overlayMenu a {
    font-size: 36px; }

  .overlayOpen {
    right: 50px; }

  .boxAbout {
    margin-top: 1px; }

  .box {
    width: 45%;
    position: absolute;
    right: 50px; }
    .box .listenButtons .listenBut a {
      font-size: 1.2em !important; } }

/*# sourceMappingURL=styles.css.map */
