* {
  box-sizing: border-box;
}

body {
  margin: 5px;
}

#menu {
  display: flex;
  float: right;
}
#indexpic {
  display: flex;
}
.head {
  margin-bottom: 50px;
}
.sec1 {
  display: inline-flex;
  justify-content: center;
}
.sec2 {
  display: inline-flex;
  justify-content: center;
}
.sec3 {
  display: inline-flex;
  justify-content: center;
}
.sec4 {
  display: inline-flex;
  justify-content: center;
}
.sec5 {
  display: inline-flex;
  justify-content: center;
}






@media screen and (min-width: 750px) {
  #box {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "gsecEt gsecEt" "gsecTo gsecTre" "gsecFire gsecFem";

    .sec1 {
      grid-area: gsecEt;
    }
    .sec2 {
      grid-area: gsecTo;
    }
    .sec3 {
      grid-area: gsecTre;
    }
    .sec4 {
      grid-area: gsecFire;
    }
    .sec5 {
      grid-area: gsecFem;
    }



    }
  }
